/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    text-align: center;
    color: rgb(109, 97, 109);
}

h1 {
    color: purple;
}

p {
    color: #666;
}

footer {
    margin-top: 20px;
}
